.awardBall{
    display: inline-block;
    text-align: center;
    font-weight: 700;
    line-height: 2;
}

.currentAward{
    color: green;
    font-size: 18px;
}

.nextAward{
    color: darkmagenta;
}