@charset "utf-8";
BODY {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
DIV {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
SPAN {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
P {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
B {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TEXTAREA {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
INPUT {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
SELECT {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
FORM {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TABLE {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TR {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
TD {
	Z-INDEX: auto; PADDING-BOTTOM: 0px; LIST-STYLE-TYPE: none; MARGIN: 0px; PADDING-LEFT: 0px; PADDING-RIGHT: 0px; FONT-FAMILY: Verdana, "宋体", Arial,Sans; COLOR: #fed7ad; FONT-SIZE: 12px; PADDING-TOP: 0px
}
BODY {
	MARGIN: 0px
}
IMG {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TABLE {
	BORDER-BOTTOM: 0px; BORDER-LEFT: 0px; BORDER-COLLAPSE: collapse; BORDER-TOP: 0px; BORDER-RIGHT: 0px
}
TD {
	CURSOR: default
}
A {
	COLOR: #4f260d; TEXT-DECORATION: none
}
.T_a {
	COLOR: #fed7ad; TEXT-DECORATION: none
}
A:hover {
	COLOR: #f1ad45; FONT-WEIGHT: bold; TEXT-DECORATION: none
}
.NewS_Fone {
	COLOR: #ffffa2
}
.LeftBackdrop {
	TEXT-ALIGN: center; TEXT-INDENT: -30px; BACKGROUND-REPEAT: no-repeat; COLOR: #ffffff; FONT-WEIGHT: bold
}
.T2 {
	BACKGROUND-IMAGE: url(../Images/T2.jpg); BACKGROUND-REPEAT: no-repeat
}
.T3 {
	BACKGROUND-IMAGE: url(../Images/T3.jpg); BACKGROUND-REPEAT: no-repeat; COLOR: #ffffff; FONT-WEIGHT: bold
}
.top {
	BACKGROUND-IMAGE: url(../Images/m_top.jpg); BACKGROUND-REPEAT: repeat-x
}
.Menu_WB {
	BACKGROUND-IMAGE: url(../Images/menu_WB.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #ffffff; WIDTH: 99px; BACKGROUND-POSITION: 0px 0px; HEIGHT: 25px; BORDER-TOP: #ff9224 0px solid; BORDER-RIGHT: #ff9224 0px solid
}
.bST_1 {
	BACKGROUND-IMAGE:url(../Images/But1.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #b3c5ef; WIDTH: 132px; HEIGHT: 36px; BORDER-TOP: #ff9224 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ff9224 0px solid
}
.bST_1_s {
	BACKGROUND-IMAGE: url(../Images/But1.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #b3c5ef; WIDTH: 132px; HEIGHT: 36px; BORDER-TOP: #ff9224 0px solid; FONT-WEIGHT: bold; BORDER-RIGHT: #ff9224 0px solid
}
.bST_1 {
	BACKGROUND-POSITION: 0px 50%; COLOR: #fff5d7;
}
.bST_1_s {
	BACKGROUND-POSITION: -132px 50%; COLOR: #4f260d;margin-top:-2px;
}
.bSB_1 {
	BACKGROUND-IMAGE: url(../Images/But2.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #b3c5ef; HEIGHT: 36px; BORDER-TOP: #ff9224 0px solid; CURSOR: hand; FONT-WEIGHT: bold; BORDER-RIGHT: #ff9224 0px solid
}
.bSB_1_m {
	BACKGROUND-IMAGE: url(../Images/But2.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #b3c5ef; HEIGHT: 36px; BORDER-TOP: #ff9224 0px solid; CURSOR: hand; FONT-WEIGHT: bold; BORDER-RIGHT: #ff9224 0px solid
}
.bSB_2 {
	BACKGROUND-IMAGE: url(../Images/But2.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #b3c5ef; HEIGHT: 36px; BORDER-TOP: #ff9224 0px solid; CURSOR: hand; FONT-WEIGHT: bold; BORDER-RIGHT: #ff9224 0px solid
}
.bSB_2_m {
	BACKGROUND-IMAGE: url(../Images/But2.jpg); BORDER-BOTTOM: #ff9224 0px solid; BORDER-LEFT: #ff9224 0px solid; BACKGROUND-COLOR: #b3c5ef; HEIGHT: 36px; BORDER-TOP: #ff9224 0px solid; CURSOR: hand; FONT-WEIGHT: bold; BORDER-RIGHT: #ff9224 0px solid
}
.bSB_1 {
	WIDTH: 77px; BACKGROUND-POSITION: 0px 50%
}
.bSB_1_m {
	WIDTH: 77px; BACKGROUND-POSITION: -171px 50%
}
.bSB_2 {
	WIDTH: 94px; BACKGROUND-POSITION: -77px 50%
}
.bSB_2_m {
	WIDTH: 94px; BACKGROUND-POSITION: -248px 50%
}
.Font_R {
	COLOR: #ff0000
}
